{% extends 'base.html.twig' %}

{% block title %}Scénarios de facturation{% endblock %}

{% block body %}

<div class="import-wrapper">


    <h1>Scénarios de facturation</h1>

    <ul class="collection">
        {% for facturation in facturations %}
             <li class="collection-item avatar"> 
                <a href="{{ path('app_facturation_show', {'id' : facturation.id })}}">
                    <i class="material-icons circle">point_of_sale</i>
                </a>
                <p class="title"><a href="{{ path('app_facturation_show', {'id' : facturation.id })}}">#{{ facturation.id }} {{ facturation.libelle }}</a></p>
                <p>{{ facturation.tarifs|length }} tarif{% if facturation.tarifs|length > 1 %}s{% endif %} défini{% if facturation.tarifs|length > 1 %}s{% endif %}</p>
                <p>{{ facturation.simulations|length }} simulation{% if facturation.simulations|length > 1 %}s{% endif %} définie{% if facturation.simulations|length > 1 %}s{% endif %}</p>

                <a href="{{ path('app_facturation_delete', {'id' : facturation.id })}}" title="supprimer" class="btn-floating red accent-4 collection-item-delete secondary-content"><i class="material-icons">delete</i></a>


            </li>
        {% endfor %}
    </ul>


    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">add</i> Ajouter une facturation
            </div>
            <div class="collapsible-body">   
                <fieldset>
                {{ form(form) }}
                </fieldset>
            </div>
        </li>

    </ul>

</div>
{% endblock %}

 {% block javascripts %}
  {{ parent() }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, []);
    });
  </script>
  <script src="/js/collection-delete.js"></script>
 {% endblock %}