{% extends 'base.html.twig' %}

{% block title %}Facturation{% endblock %}

{% block body %}

<div class="tarif-wrapper">

    <h1>Facturation
    <a href="{{ path('app_facturation', {'id' : facturation.id })}}">{{ facturation.libelle }}</a></h1>


    <ul class="collection">
    {% for tarif in tarifs %}

        <li class="collection-item avatar">
            <a href="{{ path('app_tarif_edit', {'id' : tarif.id })}}" title="editer">
                <i class="material-icons circle">schedule</i>
                <p class="title">#{{ tarif.id }} {{ tarif.libelle }}</p>
            </a>
                <span class="tarif">{{ tarif.tarif }} € HT</span>


            <div class="secondary-content">
                <a href="{{ path('app_tarif_edit', {'id' : tarif.id })}}" title="dupliquer" class="btn-floating green darken-1"><i class="material-icons">edit</i></a>

                <a href="{{ path('app_tarif_duplicate', {'facturation' : facturation.id, 'id' : tarif.id })}}" title="dupliquer" class="btn-floating blue darken-2"><i class="material-icons">content_copy</i></a>
                <a href="{{ path('app_tarif_delete', {'id' : tarif.id })}}" title="supprimer" class="btn-floating red accent-4 collection-item-delete"><i class="material-icons">delete</i></a>
            </div>

        </li>
    {% endfor %}
    </ul>
    <a href="{{ path('app_tarif_add', { 'facturation_id' : facturation.id })}}">Ajouter un tarif</a>
</div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
    <script src="/js/collection-delete.js"></script>
{% endblock %}