{% extends 'base.html.twig' %}

{% block title %}Importation de données!{% endblock %}

{% block body %}

<div class="import-wrapper">


    Jeux de données :
    <ul class="collection">

        {% for import in imports %}
            <li class="collection-item avatar"> 
                <i class="material-icons circle">download</i>
                <span class="title">{{ import.libelle }}</span> <span class="date">{{ import.date|date("d/m/Y H:i") }}</span>
                <p>nombre de relevés :  <strong>{{ import.nbReleves }}</strong>
                {% if import.nbReleves > 0 %}<br />du {{ import.start|date("d/m/Y H:i") }} au {{ import.end|date("d/m/Y H:i") }} {% endif %}
                </p>
           
            <a href="{{ path('app_import_delete', {'id' : import.id })}}" title="supprimer" class="btn-floating red accent-4 collection-item-delete secondary-content"><i class="material-icons">delete</i></a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_import_new') }}">Importer de nouvelles données</a>

</div>
{% endblock %}

{% block javascripts %}
<script src="/js/collection-delete.js"></script>
{% endblock %}