{% extends 'base.html.twig' %}

{% block title %}Simulations{% endblock %}

{% block body %}

<div class="simulation-wrapper">


    <h1>Simulations</h1>

    <ul class="collection">

        {% for simulation in simulations %}
            <li class="collection-item avatar"> 
                <i class="material-icons circle">settings</i>
                <span class="title">Simulation n°{{ simulation.id }}</span> du <span class="date">{{ simulation.date|date("d/m/Y H:i") }}</span>

                <p>{{ simulation.facturation.libelle }} - {{ simulation.data.libelle }}</p>
                
                {% if not simulation.resultat is empty %}
                <p class="resultat">{{ simulation.resultat.montant|format_currency('EUR') }} / {{ (simulation.resultat['conso'] / 1000) | number_format(2,'.','') }} kWh</p>
                {% endif %}

           
           <div class="secondary-content">
                <a href="{{ path('app_simulation_execute', {'id' : simulation.id })}}" title="executer" class="btn-floating  green accent-4"><i class="material-icons">settings</i></a>
                <a href="{{ path('app_simulation_show', {'id' : simulation.id })}}" title="afficher" class="btn-floating  light-blue darken-1"><i class="material-icons">visibility</i></a>
                <a href="{{ path('app_simulation_delete', {'id' : simulation.id })}}" title="supprimer" class="btn-floating red accent-4 collection-item-delete"><i class="material-icons">delete</i></a>
            </div>


            </li>
        {% endfor %}
    </ul>

      <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">add</i> Nouvelle simulation
            </div>
            <div class="collapsible-body">   
                <fieldset>
                {{ form(form) }}
                </fieldset>
            </div>
        </li>

    </ul>

</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/collection-delete.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, []);
    });
  </script>
 {% endblock %}